h1 {
  font-family: helvetica;
  font-weight: 200;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.secondPanel {
  background-color: #F1F1F1;
  height: 95vh;
  overflow: hidden;
  border-left: 1px solid #979797;
}

div.row {
  margin-bottom: 0px;
}

div.col.s4 {
  padding: 0px;
}

div.noselect.row {
  margin-top: 14px;
}
