.title {
  font-family: sans-serif;
  font-size: 12px;
  color: rgba(0,0,0,0.87);
  margin-left: 10px;
}

.historySendBtn {
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  background: #00979D;
}

.listHeight {
  min-height: 40px;
  height: 100%;
}

.descriptionLbl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 100%;
  font-family: sans-serif;
}
