.histroylbl {
  padding-left: 5px;
  font-size: 13px;
  color: #00979D;
  font-weight:bold;
  font-family: sans-serif;
}

.react-scrollbar-default {
  width: 35%;
  min-width: 430px;
  max-height: 260px;
}

.scroll-me {
  padding-bottom: 14px;
}

.gifSize {
  width: 50px;
  height: 50px;
}
