.detailContainer {
  height: 100px;
  width: 100%;
  background-color: white;

  margin-bottom: 20px;
}

.buttonQueue {
  height: 100px;
  background-color: #00979D;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.buttonQueue:hover {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.absoluteShift {
  display: block;
  margin-left: -4px;
}

.titleBar {
  height: 30px;
  background-color: #5B5B5B;
}

.boxOrange {
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: -11px;
  background-color: #F47A20;
}

.boxGreen {
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: -11px;
  background-color: #008184;
}

.titleText {
  position: relative;
  color: white;
  font-size: 12px;
  top: -44px;
  margin-left: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkBoxQueue {
  position: relative;
  top: -88px;
  margin-left: -6px;
  margin-top: -3px;
}

.checkbox-indigo[type="checkbox"] + label:before{
    border: 2px solid white;
    background: transparent;
}
.checkbox-indigo[type="checkbox"]:checked + label:before{
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background: transparent;
}

.mainText {
  position: relative;
  width: 180px;
  height: 65px;
  top: -104px;
  margin-left: -5px;
  line-height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
